// non-theme specific Sass

/*------------------------------------*
    $General
*------------------------------------*/

.btn-center {
    margin: auto;
}

/*------------------------------------*
    $Header
*------------------------------------*/
.logo {
	width: 65%;

	@media #{$small} {
		width: 55%;
	}

	@media #{$medium} {
		width: 35%;
	}

	@media #{$large} {
		width: 28%;
	}

	@media #{$xlarge} {
		width: 12%;
	}
}


/*------------------------------------*
    $Pitch Bible
*------------------------------------*/

.center {
    text-align: center;
}
